ShopifyBackupWeb/wwwroot/Data_Init/Out/~$ExportOut.xlsx
.vs/ShopifyBackupWeb/v15/Server/sqlite3/db.lock
.vs/ShopifyBackupWeb/v15/Server/sqlite3/storage.ide-wal
bin/
obj/
Debug/
Release/
x64/
v15/
Publishprofiles/
.vs/ShopifyBackupWeb/v16/Server/sqlite3/storage.ide-shm
v16/
ShopifyBackupWeb/obj/
