@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script asp-src-include="~/theme/assets/js/plugins/angular/angular.js" asp-append-version="true"></script>
    <script asp-src-include="~/theme/assets/js/plugins/angular/ui-bootstrap-tpls.js" asp-append-version="true"></script>
    <script asp-src-include="~/areas/shopify/js/Details.js" asp-append-version="true"></script>
    <script asp-src-include="~/js/angular.custom.js" asp-append-version="true"></script>

}
<div ng-controller="detailsCtr" ng-app="crewcloud" >
    <div class="mb-4">
    <a href="~/Home/Refund?id={{orderId}}" class="float-lg-left "><i class="fa fa-reply"></i>Refund</a>
   <br/><span>{{itemDetails.name}}</span>
    </div>
    <div class="row">
        <label>{{itemDetails.carrier}}</label><a href="{{itemDetails.strackingUrl}}" class="float-lg-right ml-4"><i class="fa fa-reply"></i>{{itemDetails.strackingNumber}}</a>
    </div>
    <div class="row">
        <div class="widget-content col-md-8">

            <!--Item-->
            <div class="row mb-4" ng-repeat="item in itemDetails.line_items">
                <!--Image-->

                <div class="col-md-3">
                    <img src="{{item.image}}" style="width: 76px;height: 73px;"/>
                </div>
                <!--Name-->
                <div class="col-md-4">
                    {{item.name}}
                </div>
                <!--Price-->
                <div class="col-md-2">
                    <span>${{item.price}}x{{item.quantity}}</span>
                </div>
                <!--Total-->
                <div class="col-md-3">
                    <span>${{itemDetails.total_price}}</span>
                </div>
                <hr />
            </div>
            <div class="widget-content" ng-show="flagTracking">
                <hr />
                <span><label>TRACKING INFORMATION (OPTIONAL)</label></span>
                <div class="row mt-4">
                    <div class="col-5">
                        <span><label>Tracking number</label><input autocomplete="off" class="input form-control" ng-model="tracking.Number"></span>
                    </div>
                    <div class="col-5">
                        <span>
                            <label>Shipping carrier</label>
                            <input autocomplete="off" class="input form-control" ng-model="tracking.Carrier">
                        </span>
                    </div>
                </div>
                <div class="row ml-1 mt-2">
                    <span><label>Tracking URL</label><input autocomplete="off" class="input form-control" ng-model="tracking.Url"></span>
                </div>
            </div>

            <div class="col-sm-offset-3 col-sm-3 mt-3">
                <button type="submit" class="btn btn-primary btn-block" ng-click="MarkFulfiel();" ng-disabled="flagMark">Mark as fulfilled</button>
            </div>
        </div>
        <!--Area right-->
        <div class="widget-content col-md-4 basic-info">
            <div>
                <h6>Customer</h6>
                <p>{{itemDetails.shipping_address.first_name}}</p>
                <p>{{itemDetails.shipping_address.last_name}}</p>
            </div>
            <div>
                <h6>Contacts Finformation</h6>
                <p>{{itemDetails.email}}</p>
            </div>
            <div>
                <h6>SHIPPING ADDRESS</h6>
                <p>{{itemDetails.shipping_address.firstName}}{{itemDetails.shipping_address.lastName}}</p>
                <p>{{itemDetails.shipping_address.company}}</p>
                <p>{{itemDetails.shipping_address.address1}}</p>
                <p>{{itemDetails.shipping_address.address2}}</p>
                <p>{{itemDetails.shipping_address.city}}</p>
                <p>{{itemDetails.shipping_address.country}}</p>
                <p>{{itemDetails.shipping_address.phone}}</p>

            </div>
        </div>

        </div>
    </div>
