
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script asp-src-include="~/theme/assets/js/plugins/angular/angular.js" asp-append-version="true"></script>
    <script asp-src-include="~/theme/assets/js/plugins/angular/ui-bootstrap-tpls.js" asp-append-version="true"></script>
    <script asp-src-include="~/areas/shopify/js/index.js" asp-append-version="true"></script>
    
}
    <script type="text/javascript">
        var apiUrl ="localhost";
        </script>
<div ng-app="crewcloud" class="content" ng-controller="mainCtr">
    <span class="row">
        <input type="text" ng-model="search.value" />
        <span class="input-group-btn">
            <button id="btn1" class="btn btn-primary add-more" type="button" ng-click="SearchText()">Search</button>
        </span>
        <span>
            <button ng-click="ExportExcel()" class="btn btn-primary  ml-4">Export Excel</button>
        </span>
    </span>
    
    <div class="table-responsive mt-4">
        <table class="table">
            <thead>

                <tr>
                    <th width="35px">
                        <label class="fancy-checkbox">
                            <input type="checkbox" id="chkall" ng-model="selectedAll.value" ng-click="CheckAll();" />
                            <span></span>
                        </label>
                    </th>
                    <th>No</th>
                    <th>#</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Payment</th>
                    <th>Fulfillment</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listOrder">
                    <td width="35px">
                        <label class="fancy-checkbox">
                            <input type="checkbox" no="{{item.Seq}}" ng-model="item.checkvalue" />
                            <span></span>
                        </label>
                    </td>
                    <td>{{item.stt}}</td>
                    <td>{{item.order }}</td>
                    <td>{{item.date }}</td>
                    <td><a href="/Home/Details?id={{item.id}}">{{item.customer}}</a></td>
                    <td>{{item. payment }}</td>
                    <td>{{item.fulfillment }}</td>
                    <td>${{item.total}}</td>
                </tr>
            </tbody>
        </table>
        @*<div class="tac">
            <ul uib-pagination total-items="totalItems" items-per-page="viewCount" ng-model="currentPageIndex" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" num-pages="numPages" first-text="<<" previous-text="<" next-text=">" last-text=">>"></ul>
        </div>*@
    </div>
</div>

