@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script asp-src-include="~/theme/assets/js/plugins/angular/angular.js" asp-append-version="true"></script>
    <script asp-src-include="~/theme/assets/js/plugins/angular/ui-bootstrap-tpls.js" asp-append-version="true"></script>
    <script asp-src-include="~/areas/shopify/js/Refund.js" asp-append-version="true"></script>
    <script asp-src-include="~/js/angular.custom.js" asp-append-version="true"></script>

}
<div ng-controller="mainCtr" ng-app="crewcloud">
    <div class="row">
        <div class="row widget-content col-md-8">
            <!--Item-->
            <div class="row mb-4" ng-repeat="item in itemDetails.line_items">
                <!--Image-->

                <div class="col-md-3">
                    <img src="{{item.image}}" style="width: 76px;height: 73px;" />
                </div>
                <!--Name-->
                <div class="col-md-4">
                    {{item.name}}
                </div>
                <!--Price-->
                <div class="col-md-2">
                    <span>${{item.price}}x{{item.quantity}}</span>
                </div>
                <!--Total-->
                <div class="col-md-3">
                    <span>${{itemDetails.total_price}}</span>
                </div>
                <hr />
            </div>
            @*<div class="col-md-12" ng-repeat="itemShipping in itemDetails.shipping_lines">
                <h6>Refund shipping</h6><br />
                <p><label>Shipping rate:{{itemShipping.code}}({{itemShipping.discounted_price}})</label></p>
                <p>Refund amount</p>
                <input class="form-control" ng-change="ChangeMoney(this);" ng-model="moneyRefund"/>
            </div>*@
            <div class="col-md-12">
                <h6>Reason for refund</h6>
                <input class="form-control" />
                <span>Only you and other staff can see this reason.</span>
            </div>
        </div>
        <div class="widget-content col-md-4">
            <h6>Summary</h6>
            @*<p>Items subtotal<span>{{rate}}</span></p>
            <p>Items subtotal<span>{{rate}}</span></p>
            <p>Items subtotal<span>{{rate}}</span></p>
            <p>Items subtotal<span>{{rate}}</span></p>*@
            <h6>REFUND AMOUNT</h6>
            <p>sTRIPE</p>
            <input class="form-control" ng-model="moneyRefund" />
            <span>${{itemDetails.total_price}}available for refund</span>
            <div>
                <button class="btn btn-primary" ng-click="SendRefunds()" ng-disabled="flagRefunds" >Refunds ${{moneyRefund}}</button>
            </div>
            
        </div>
    </div>
    
</div>
